body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #ffffff, #2ecc71);
}

h1 {
    color: #333;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

p.descripcion {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    border: 2px solid #333;
    padding: 15px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select, button {
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.resultado-container {
    text-align: center;
    margin-top: 20px;
}

.resultado-titulo {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

#resultado {
    border: 2px solid #333;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#copiar-btn {
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#copiar-btn:hover {
    background-color: #2980b9;
}

